<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/charlied57/index.json" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="charlied57" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>